<div class="header__logo">
    <div style="display: flex">
        <div class="header__logo-image"></div>
        <h2 class="header__heading">Hundemomente</h2>
    </div>
    <h3 class="header__subheading">Hundebegegnungen mit Menschen</h3>
</div>

<div class="header__menu" [class.header__menu--open]="menuIsOpen">
    <a pageScroll (click)="menuIsOpen = false" href="#home">Home</a>
    <a
        pageScroll
        [pageScrollOffset]="118"
        (click)="menuIsOpen = false"
        href="#about"
        >Über uns</a
    >
    <a
        pageScroll
        [pageScrollOffset]="118"
        (click)="menuIsOpen = false"
        href="#offer"
        >Angebot</a
    >
    <a
        pageScroll
        [pageScrollOffset]="118"
        (click)="menuIsOpen = false"
        href="#bilder"
        >Bilder</a
    >
    <a
        pageScroll
        [pageScrollOffset]="118"
        (click)="menuIsOpen = false"
        href="#contact"
        >Kontakt</a
    >
</div>

<div (click)="menuIsOpen = !menuIsOpen" class="header__small-menu-titlebar">
    <div class="header__logo-image"></div>
    <h2 class="header__heading">Hundemomente.info</h2>
    <div
        class="header__hamburger"
        [class.header__hamburger--open]="menuIsOpen"
    ></div>
</div>
