---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props {
  name: string;
  image: ImageMetadata;
}

const { name, image } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2">
  <Image
    width="400"
    alt="Hund {name}"
    src={image}
    class="object-cover border-2"
  />

  <div class="mx-8 my-8 sm:my-0">
    <h2 class="text-2xl">{name}</h2>

    <slot />
  </div>
</div>
