---
import FaqItem from "./FaqItem.astro";
---

<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-2xl font-semibold text-center text-gray-800 lg:text-3xl dark:text-white"
    >
      oft <span class="text-blue-500">gefragt</span>
    </h1>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3"
    >
      <FaqItem headline="Gesundheit der Hunde" icon="">
        <p class="text-align-left">
          Die Hunde sind absolut gesund, haben alle wichtigen Impfungen, werden
          regelmäßig entwurmt und bekommen eine Floh- und Zeckenprophylaxe.
          Scotti ist seit er 8 Wochen alt war bei mir, Emma seit sie 10 Wochen
          alt ist, Nelly seit sie 17 Wochen alt ist und Jimmy ist mit 8 Wochen
          zu uns gekommen.
        </p>
      </FaqItem>

      <FaqItem headline="Qualifikation" icon="">
        <p>
          Scotti hat die <a
            href="http://www.dhv-hundesport.de/sportarten/basisausbildung/begleithundpruefung.html"
            target="_blank">Begleithundprüfung</a
          > im Oktober 2014 erfolgreich bestanden.
        </p><p>
          Emma hat die Begleithundprüfung und den Hundeführerschein im Juli 2017
          erfolgreich bestanden.
        </p><p>
          Nelly hat im September 2020 die Begleithundprüfung abgelegt.
        </p><p>
          Mit allen Hunden besuchen wir die <a
            class="underline text-blue-500"
            href="http://www.hundeschule-socius.de/"
            target="_blank">Blinden- und Therapiehundschule Socius</a
          >.
        </p>
      </FaqItem>
      <FaqItem headline="Welche Risiken gibt es?" icon="">
        <p>
          Auch wenn meine Hunde absolut lieb sind und eher flüchten würden als
          zu beißen, so sind sie doch Tiere und deren Verhalten kann man nie zu
          100 % vorhersagen. Daher sind sie haftpflichtversichert, d.h. Schäden
          die entstehen können, sind abgedeckt.
        </p>
        <p>
          Da die Hunde völlig gesund sind und ich regelmäßig Prophylaxe
          betreibe, wird das gesundheitliche Risiko für die Personen minimiert.
        </p>
      </FaqItem>
      <FaqItem headline="Probestunde">
        <p>
          Gerne können wir einen <a class="text-blue-600" href="#kontakt"
            >Termin zu einer kostenlosen Probestunde vereinbaren</a
          >.
        </p>
      </FaqItem>
    </div>
  </div>
</section>
