---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import logo from "../images/logo.png";
import steffi from "../images/steffi01.jpg";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Faq from "../sections/faq/Faq.astro";
import WasMacht from "../sections/wasmacht/WasMacht.astro";
import Dogs from "../sections/dogs/Dogs.astro";
import Ziele from "../sections/ziele/Ziele.astro";
import Galerie from "../sections/Galerie.astro";
---

<Layout title="Hundemomente.info - Hundebegegnungen">
  <main>
    <Header />
    <Dogs />
    <WasMacht />
    <Ziele />
    <Faq />
    <Galerie />
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    /* padding: 1.5rem; */
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
