<hm-header
    #theHeader
    hmScrollTracker
    (scrolled)="theHeader.isSmall = $event > 0"
></hm-header>

<hm-dog
    id="home"
    firstPart="Mein Name ist"
    highlightPart="Scotti"
    subHeading="Ich bin ein Labradoodle"
    backgroundImage="../assets/banner-scotti.jpg"
    backgroundPosition="41% 50%"
></hm-dog>
<hm-dog
    firstPart="Ich bin"
    highlightPart="Emma"
    subHeading="Ich bin ebenfalls ein Labradoodle"
    backgroundImage="../assets/banner-emma.jpg"
    backgroundPosition="56% 50%"
></hm-dog>
<hm-dog
    firstPart="Und ich heiße"
    highlightPart="Nelly"
    subHeading="Der dritte Labradoodle"
    backgroundImage="../assets/banner-nelly.jpg"
    backgroundPosition="56% 25%"
></hm-dog>

<h1 id="about" class="title text-center">
    Über
    <span>Hunde&shy;momente</span>
</h1>
<p class="lead text-center">
    Hundebegegnungen für Senioren, Kinder und Menschen mit Behinderung.
</p>
<p class="lead text-center">In Einzel- und Gruppensitzungen.</p>
<img
    class="header-image"
    src="../assets/section-image-3.jpg"
    alt="Die drei Hunde"
/>
<img
    class="header-image"
    src="../assets/section-image-2.jpg"
    alt="Hunde Scotti und Emma"
/>

<h2>Wer sind wir?</h2>
<h3>Scotti</h3>
<p>
    Hund Scotti ist ein Labradoodle, eine Mischung aus Labrador und Großpudel,
    geboren am 26.04.2013 in
    <a href="http://www.goldendoodle-hallertau.de/" target="_blank"
        >Niederlauterbach in der Hallertau</a
    >. Er wiegt 30 kg.
</p>
<p>
    Scottis Lieblingsbeschäftigungen sind schlafen, gekrault werden, fressen und
    spielen mit seinen Hundefreunden.
</p>
<h3>Emma</h3>
<p>
    Emma ist am 29.06.2016 geboren und ebenfalls ein Labradoodle, allerdings hat
    sie ein apricotfarbenes Fell und wiegt nur 19 kg.
</p>
<p>
    Emmas Lieblingsbeschäftigungen sind Scotti zu ärgern und gestreichelt
    werden.
</p>
<h3>Nelly</h3>
<p>Nelly ist am 31.07.2019 geboren und hat schwarzes wuscheliges Fell.</p>
<p>
    Ihre Mutter ist eine braune Labradorhündin und ihr Vater ein schwarzer
    Großpudel. Sie wiegt zur Zeit 18 kg. Nellys Lieblingsbeschäftigungen sind
    schmusen und ballspielen.
</p>

<h3>Steffi</h3>

<p>
    <img
        style="float: left; height: 170px; margin-right: 10px"
        src="../assets/steffi01.jpg?1"
    />
    Mein Name ist <span>Steffi Kostka</span> und außer den Hunden wohnen im
    Haushalt noch mein Mann Hans und die drei Kinder Johanna (<hm-year-calc
        [yearAndMonth]="'2007-1'"
    ></hm-year-calc>
    Jahre), Carina (<hm-year-calc [yearAndMonth]="'2009-4'"></hm-year-calc>
    Jahre) und Rosalie (<hm-year-calc [yearAndMonth]="'2010-4'"></hm-year-calc>
    Jahre).
</p>

<h2 id="offer" style="clear: both; padding-top: 12px">
    Was macht eigentlich ein Hundebesuchsdienst?
</h2>
<p>
    Für jeden Besuch versuche ich neue kleine Aufgaben an die Personen zu
    stellen, welche gerade in der Gruppe bzw. in den Gemeinschaftsräumen gut zu
    erfüllen sind. Die Personen sollen ganzheitlich aktiviert werden.
</p>
<p>
    In Einzelsitzungen können ganz persönliche Aktionen mit den betreffenden
    Personen stattfinden - vom einfachen Anstupsen bis zu engem Körperkontakt.
    Durch diese Nähe und Wärme werden viele Sinne angesprochen und aktiviert.
</p>
<p>
    Wenn die betreffende Person dazu in der Lage ist, können zum Beispiel auch
    Kunststückchen selbständig beigebracht werden.
</p>
<p>
    Man sieht also, dass die Ansprüche über das bloße Streicheln hinausgehen –
    obwohl das auch ein sehr wichtiger und nicht zu unterschätzender Faktor in
    der Mensch-Hund-Begegnung ist. Der Hund ist in der Arbeit ein anderes
    Mittel, um die Menschen zu erreichen – im Mittelpunkt der Arbeit steht aber
    immer die Person mit ihren Bedürfnissen.
</p>
<p>Die zentralen Ziele der Arbeit mit dem Hund sind:</p>
<ul>
    <li>Stärkung des Selbstwertgefühls</li>
    <li>emotionale Ansprache</li>
    <li>Körperkontakt</li>
    <li>Integration</li>
    <li>Körpersprache</li>
    <li>Sinneswahrnehmung</li>
    <li>Kommunikation</li>
    <li>und vor allem Motivation</li>
</ul>

<hm-accordion>
    <hm-accordion-panel [title]="'Gesundheit der Hunde'" [isOpen]="true">
        <p>
            Die Hunde sind absolut gesund, haben alle wichtigen Impfungen,
            werden regelmäßig entwurmt und bekommen eine Floh- und
            Zeckenprophylaxe. Scotti ist seit er 8 Wochen alt war bei mir, Emma
            seit sie 10 Wochen alt ist und Nelly seit sie 17 Wochen alt ist.
        </p>
    </hm-accordion-panel>
    <hm-accordion-panel [title]="'Qualifikation'">
        <p>
            Scotti hat die
            <a
                href="http://www.dhv-hundesport.de/sportarten/basisausbildung/begleithundpruefung.html"
                target="_blank"
                >Begleithundprüfung</a
            >
            im Oktober 2014 erfolgreich bestanden.
        </p>
        <p>
            Emma hat die Begleithundprüfung und den Hundeführerschein im Juli
            2017 erfolgreich bestanden.
        </p>
        <p>
            Nelly ist momentan noch in Ausbildung. Ab September 2020 - nach
            erfolgreicher Begleithundprüfung - wird sie das Team unterstützen.
        </p>
        <p>
            Mit allen Hunden besuchen wir die
            <a href="http://www.hundeschule-socius.de/" target="_blank"
                >Blinden- und Therapiehundschule Socius</a
            >.
        </p>
    </hm-accordion-panel>
    <hm-accordion-panel [title]="'Welche Risiken gibt es?'">
        <p>
            Auch wenn meine Hunde absolut lieb sind und eher flüchten würden als
            zu beißen, so sind sie doch Tiere und deren Verhalten kann man nie
            zu 100&nbsp;% vorhersagen. Daher sind sie haftpflichtversichert,
            d.h. Schäden die entstehen können, sind abgedeckt.
        </p>
        <p>
            Da die Hunde völlig gesund sind und ich regelmäßig Prophylaxe
            betreibe, wird das gesundheitliche Risiko für die Personen
            minimiert.
        </p>
    </hm-accordion-panel>
    <hm-accordion-panel [title]="'Probestunde'">
        <p>
            Gerne können wir einen Termin zu einer kostenlosen Probestunde
            <a href="#contact">vereinbaren</a>.
        </p>
    </hm-accordion-panel>
    <hm-accordion-panel [title]="'Aktuelle Einsatzorte'">
        <ul>
            <li>
                <a
                    href="https://auhof.rummelsberger-diakonie.de/"
                    target="_blank"
                    >RDB Rummelsberger Dienste für Menschen mit Behinderung
                    gGmbH Auhof Hilpoltstein</a
                >
            </li>
            <li>
                <a
                    href="https://behindertenhilfe.rummelsberger-diakonie.de/standorte/standorte/roth/wohnen-in-roth/"
                    target="_blank"
                    >RDB Rummelsberger Dienste für Menschen mit Behinderung
                    gGmbH Wohnheim Roth</a
                >
            </li>
            <li>
                <a
                    href="https://behindertenhilfe.rummelsberger-diakonie.de/standorte/standorte/rummelsberg/rummelsberger-dienste-fuer-menschen-mit-behinderung-gemeinnuetzige-gmbh/"
                    target="_blank"
                    >RDB Rummelsberger Dienste für Menschen mit Behinderung
                    gGmbH Förderstätte Rummelsberg</a
                >
            </li>

            <li>
                <a
                    href="https://behindertenhilfe.rummelsberger-diakonie.de/standorte/standorte/altdorf/haus-mamre/"
                    target="_blank"
                >
                    RDB Rummelsberger Dienste für Menschen mit Behinderung gGmbH
                    Haus Mamre</a
                >
            </li>

            <li>
                <a
                    href="https://behindertenhilfe.rummelsberger-diakonie.de/wohnen/wohnenordner/wohnen-fuer-erwachsene/wurzhof-postbauer-heng/"
                    target="_blank"
                    >RDB Rummelsberger Dienste für Menschen mit Behinderung
                    gGmbH Wurzhof</a
                >
            </li>
        </ul>
    </hm-accordion-panel>
</hm-accordion>

<h1 class="text-center title" id="bilder">Bilder</h1>
<p class="lead text-center">
    Einige Beispiele von der Arbeit mit Scotti, Emma und Nelly.
    <br />
</p>

<gallery
    [flexBorderSize]="3"
    [flexImageSize]="7"
    (viewerChange)="onViewerChange($event)"
></gallery>

<footer id="footer">
    <h1 class="title text-center" id="contact">Kontakt / Impressum</h1>
    <p class="large">Steffi Kostka</p>
    <p class="large">
        <i class="fa fa-map-marker pr-10"></i>&nbsp;Taubenweg 2b, 92353
        Postbauer-Heng
        <br />
        <i class="fa fa-phone pr-10"></i>&nbsp;+49 171 12 77 02 7
        <br />
        <i class="fa fa-envelope-o pr-10"></i>&nbsp;
        <a href="mailto:steffi.kostka@hundemomente.info"
            >steffi.kostka@hundemomente.info</a
        >
        <br />
    </p>
    <p class="small">
        <a href="datenschutz.html">Datenschutz</a>
    </p>
</footer>
