<hm-header #theHeader hm-scroll-tracker (scrolled)="theHeader.isSmall = $event > 0"></hm-header>

<hm-dog id="home" [firstPart]="'Mein Name ist'"
        [highlightPart]="'Scotty'"
        [subHeading]="'Ich bin ein Labradoodle'"
        [backgroundImage]="'../assets/banner-scotti.jpg'"></hm-dog>
<hm-dog [firstPart]="'Ich bin'"
        [highlightPart]="'Emma'"
        [subHeading]="'Ich bin ebenfalls ein Labradoodle'"
        [backgroundImage]="'../assets/banner-emma.jpg'"></hm-dog>

<h1 id="about" class="title text-center">Über <span>Hunde&shy;momente</span></h1>
<p class="lead text-center">Hundebegegnungen für Senioren, Kinder und Menschen mit Behinderung.</p>
<p class="lead text-center">In Einzel- und Gruppensitzungen.</p>
<img class="header-image" src="../assets/section-image-1.jpg" alt="Hund Scotti mit Carina">
<img class="header-image" src="../assets/section-image-2.jpg" alt="Hunde Scotti und Emma">

<h2>
  Wer sind wir?
</h2>
<h3>Scotti</h3>
<p>
  Hund Scotti ist ein Labradoodle, eine Mischung aus Labrador und Großpudel, geboren am
  26.04.2013 in <a href="http://www.goldendoodle-hallertau.de/" target="_blank">Niederlauterbach
  in der Hallertau</a>.
</p>
<p>
  Scottis Lieblingsbeschäftigungen sind schlafen, gekrault werden, fressen und spielen mit
  seinen Hundefreunden.
</p>
<h3>Emma</h3>
<p>
  Seit September 2016 hat Scotti eine "Azubine". Sie heißt Emma, ist am 29.6.2016 geboren und
  ebenfalls ein Labradoodle, allerdings hat sie ein apricotfarbenes Fell und wird nicht so groß wie Scotti.
</p>
<p>
  Emma soll möglichst viel von Scotti lernen und ihn schon bald bei seinen Einsätzen begleiten und unterstützen.
  Wie man sieht sind sie ein Herz und eine Seele.
</p>
<h3>Steffi</h3>
<p>
  Mein Name ist <span>Steffi Kostka</span> und außer Scotti und Emma wohnen im Haushalt noch mein Mann
  Hans und die drei Kinder
  Johanna (<hm-year-calc [yearAndMonth]="'2007-1'"></hm-year-calc> Jahre),
  Carina (<hm-year-calc [yearAndMonth]="'2009-4'"></hm-year-calc> Jahre) und
  Rosalie (<hm-year-calc [yearAndMonth]="'2010-4'"></hm-year-calc> Jahre).
</p>

<h2 id="offer">Was macht eigentlich ein Hundebesuchsdienst?</h2>
<p>
  Für jeden Besuch versuche ich neue kleine Aufgaben an die Personen zu stellen, welche gerade
  in der Gruppe in den Gemeinschaftsräumen gut zu erfüllen sind. Die Personen sollen
  ganzheitlich aktiviert werden.
</p>
<p>
  In Einzelsitzungen können ganz persönliche Aktionen mit den betreffenden Personen
  stattfinden, vom einfachen Anstupsen bis zu engem Körperkontakt.
  Durch diese Nähe und Wärme werden viele Sinne angesprochen und aktiviert.
</p>
<p>
  Wenn die betreffende Person dazu in der Lage ist können zum Beispiel auch Kunststückchen
  selbständig beigebracht werden.

</p>
<p>
  Sie sehen also, dass die Ansprüche über das bloße Streicheln hinausgehen – obwohl das auch
  ein sehr wichtiger und nicht zu unterschätzender Faktor in der Mensch-Hund-Begegnung ist.
  Der Hund ist in der Arbeit ein anderes Mittel, um die Menschen zu erreichen – im Mittelpunkt
  der Arbeit steht aber immer die Person mit ihren Bedürfnissen.
</p>
<p>
  Die zentralen Ziele der Arbeit mit dem Hund sind:
</p>
<ul>
  <li>Stärkung des Selbstwertgefühls</li>
  <li>emotionale Ansprache</li>
  <li>Körperkontakt</li>
  <li>Integration</li>
  <li>Körpersprache</li>
  <li>Sinneswahrnehmung</li>
  <li>Kommunikation</li>
  <li>und vor allem Motivation</li>
</ul>


<hm-accordion>
  <hm-accordion-panel [title]="'Gesundheit'" [isOpen]="true">
    <p>Die Hunde sind absolut gesund, haben alle wichtigen Impfungen, werden regelmäßig entwurmt und bekommen eine
      Floh-
      und Zeckenprophylaxe. Scotti ist seit er 8 Wochen alt war bei mir, Emma seit sie 10 Wochen alt ist.</p>
  </hm-accordion-panel>
  <hm-accordion-panel [title]="'Qualifikation'">
    <p>Scotti hat die <a
      href="http://www.dhv-hundesport.de/sportarten/basisausbildung/begleithundpruefung.html"
      target="_blank">Begleithundprüfung</a> im Oktober 2014 erfolgreich
      bestanden, außerdem gehen wir in die <a
        href="http://www.hundeschule-socius.de/"
        target="_blank">Hundschule Socius</a>.</p>
    <p>
      Emma geht ebenfalls mit in die Hundeschule.
    </p>
  </hm-accordion-panel>
  <hm-accordion-panel [title]="'Welche Risiken gibt es?'">
    <p>
      Auch wenn meine Hunde absolut lieb sind und eher flüchten würden als zu beißen, so sind sie doch Tiere und
      diese
      kann man nie zu 100 % vorhersagen. Daher sind sie haftpflichtversichert – dadurch werden sämtliche Schäden,
      die
      entstehen können, abgedeckt.
    </p>
    <p>
      Da die Hunde völlig gesund sind und ich regelmäßig Prophylaxe betreibe, wird das gesundheitliche Risiko für
      die
      Personen minimiert.
    </p>
  </hm-accordion-panel>
  <hm-accordion-panel [title]="'Probestunde'">
    <p>Gerne können wir einen Termin zu einer kostenlosen Probestunde <a
      href="#contact">vereinbaren</a>.</p>
  </hm-accordion-panel>
  <hm-accordion-panel [title]="'Aktuelle Einsatzorte'">
    <ul>
      <li>Auhof in Hilpoltstein</li>
      <li><a href="http://senioren-postbauer-heng.de/" target="_blank">Seniorenheim
        am Schauerholz</a></li>
    </ul>
  </hm-accordion-panel>
</hm-accordion>


<h1 class="text-center title" id="bilder">Bilder</h1>
<p class="lead text-center">Einige Beispiele von der Arbeit mit Scotti und Emma.<br></p>

<gallery [flexBorderSize]="3" [flexImageSize]="7"></gallery>

<h1 id="clients" class="title text-center">Beispielvideo</h1>
<video style="width:100%" src="assets/video/scotti_video_small.mp4" controls
       preload="metadata"></video>
<footer id="footer">
  <h1 class="title text-center" id="contact">Kontakt / Impressum</h1>
  <p class="large">Steffi Kostka</p>
  <ul class="list-icons">
    <li><i class="fa fa-map-marker pr-10"></i> Taubenweg 2b, 92353 Postbauer-Heng</li>
    <li><i class="fa fa-phone pr-10"></i> +49 171 12 77 02 7</li>
    <li><i class="fa fa-envelope-o pr-10"></i> <a href="mailto:steffi.kostka@hundemomente.info">steffi.kostka@hundemomente.info</a>
    </li>
  </ul>
</footer>
